
header {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 100px;
  text-align: center;
}

.home-bg {
background: url("blueswirls2.jpg"); no-repeat center center fixed;
}

.about-bg {
  background: url("blueswirls.jpg"); no-repeat center center fixed;
}

.contact-bg {
  background: aqua;
}

.quote {
  font-size: 30px;
  font-family: cursive;
}

.info {
  text-align: center;
  margin: 100px 150px 100px 80px;
}

p {
  font-family: 'Londrina Solid', cursive;
  font-weight: 200;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}
#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 stretch;
    display: inline-block;
    margin: 0 auto;
}
img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  margin: 0 auto;
}

#container {
  width: auto;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

#dottedimg {
  border: 10px dotted black;
  padding: 15px;
  display: inline-block;
}

#dropshadow {
  box-shadow: 10px 10px 5px;
  padding: 15px;
  display: inline-block;
}

.block {display:block;}

.list {
  font-family: 'Quicksand',sans-serif;
  color: white;
  font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navigation li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'Londrina Solid', cursive;
}

li a:hover:not(.active) {
    background-color: black;
}

.active {
    background-color: black;
}

.table {
  font-family: 'Londrina Solid', cursive;
  font-size: 25px;
  border: 5px dotted white;
  margin: 20px 30px 20px 30px;
  padding: 30px 40px 30px 40px;
  display: center;
  margin: 50px auto;
  align-items: center;
}

.form {
  text-align: center;
  display:inline-block;
  margin: 0 auto;
  border: 10px dashed white;
}

.fig {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 20px;
}

.submit {
  background-color: #008CBA;
  font-size: 20px;
  color: white;
}
